<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.1.xsd"
       default-lazy-init="false">


    <!--<bean id="task" class="net.coderland.server.task.Stock"/>-->

    <!--<task:scheduled-tasks>-->
        <!--<task:scheduled ref="task" method="apply" cron="0 5 12 * * ?"/>-->
    <!--</task:scheduled-tasks>-->

</beans>